// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #f82249;
    --secondary: #040919;
    --white: #ffffff;
    --black: #000000;
    // inputs
    --input-background: #0f1731;
    --input-color: #ffffff;
    --input-placeholder-color: #646464;
    --bs-blue: #63B3ED;
    --bs-indigo: #596CFF;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #F56565;
    --bs-orange: #fd7e14;
    --bs-yellow: #FBD38D;
    --bs-green: #81E6D9;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #5e72e4;
    --bs-secondary: #8392ab;
    --bs-success: #2dce89;
    --bs-info: #11cdef;
    --bs-warning: #fb6340;
    --bs-danger: #f5365c;
    --bs-light: #e9ecef;
    --bs-dark: #344767;
    --bs-white: #fff;
    --bs-primary-rgb: 94, 114, 228;
    --bs-secondary-rgb: 131, 146, 171;
    --bs-success-rgb: 45, 206, 137;
    --bs-info-rgb: 17, 205, 239;
    --bs-warning-rgb: 251, 99, 64;
    --bs-danger-rgb: 245, 54, 92;
    --bs-light-rgb: 233, 236, 239;
    --bs-dark-rgb: 52, 71, 103;
    --bs-white-rgb: 255, 255, 255;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 103, 116, 142;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: "Open Sans", sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #67748e;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.75rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 1.5rem;
    --bs-border-radius-pill: 50rem;
    --bs-heading-color: #344767;
    --bs-link-color: #5e72e4;
    --bs-link-hover-color: #233dd2;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fcf8e3;
}

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background-color: var(--black);
}

// notification
[role="notification"] {
    position: fixed;
    z-index: 9999;
}

@keyframes animatePopup {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes hidePopupDialog {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.5;
    }

    75% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.notification-dialog.hide-popup .notification-popup {
    animation: animatePopup 0.5s forwards;
}

.notification-dialog.hide-popup {
    animation: hidePopupDialog 1s forwards;
}

.notification-dialog {
    width: 100%;
    background: rgb(4 9 25 / 78%);
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .notification-popup {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        background: #1c284d;
        padding: 30px;
        border-radius: 8px;
        text-align: center;

        img {
            width: 100%;
            max-width: 50px;
        }

        .notification-messages {
            position: relative;
            max-height: 400px;
            overflow-y: auto;
            margin: 20px 0;

            p {
                color: var(--white);
                font-size: 16px;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    color: var(--white);
                    background: #202d53;
                    padding: 10px;
                    border-radius: 8px;
                    margin: 5px;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }

        .notification-messages::-webkit-scrollbar {
            width: 5px;
        }

        .notification-messages::-webkit-scrollbar-thumb {
            background-color: var(--primary);
            border-radius: 10px;
        }

        .notification-messages::-webkit-scrollbar-track {
            background-color: var(--black);
        }

        button {
            padding: 10px 30px;
            color: var(--white);
            border: 1px solid var(--primary);
            background: var(--primary);
            border-radius: 30px;
            transition: 0.3s;

            &:hover {
                background: transparent;
                border: 1px solid var(--primary);
            }
        }
    }
}

// override
.btn-primary {
    background: var(--primary) !important;
    border: 0 !important;
    border-radius: 30px;
    padding: 10px 40px;
}


// login page
.login {
    background: var(--secondary);
    padding: 150px 40px 50px 40px;

    .card {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;

        input {
            border-radius: 30px !important;
            padding: 10px 30px;
            background: var(--input-background);
            border: 0;
            color: var(--input-color);
        }

        input::placeholder {
            color: var(--input-placeholder-color) !important;
        }
    }
}

// register page
.register {
    background: var(--secondary);
    padding: 150px 40px 50px 40px;

    .card {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;

        input {
            border-radius: 30px !important;
            padding: 10px 30px;
            background: var(--input-background);
            border: 0;
            color: var(--input-color);
        }

        input::placeholder {
            color: var(--input-placeholder-color) !important;
        }
    }
}

// certificate page
.certificate {
    background: var(--secondary);
    padding: 150px 40px 50px 40px;

    .card {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;

        .cert-image-container {
            position: relative;
            padding: 10px 20px;
            width: 100%;
            // max-width: 300px;
            background: #202d53;
            margin: 0 auto;
            text-align: center;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background: var(--primary);
            }

            img {
                width: 100%;
                max-width: 70px;
            }

            p {
                color: var(--white);
                font-size: 14px;
                margin: 0;
            }
        }
    }
}

#map {
    height: 400px;
}

.bg-rep {
    background-color: #353b6a !important;
}

.btn-secondary {
    background: #353b6a !important;
    border-radius: 30px !important;
    padding: 3px 20px;
}

.avatar img {
    width: 100%;
    width: 70px !important;
    height: 70px;
    object-fit: cover;
}


.driver-panel {
    .s-owner {
        // text-align: center;

        .shopOwnerAvatar {
            height: 100px;
            width: 100px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}

.mechanics {
    .avatar {
        object-fit: cover;
    }
}

.ongoing-price{

    input{
        width: 45px;
    }

    button{
        cursor: pointer;
        color: white;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 5px;
        background: var(--black);
    }
}

// contact

.driver-messages{
    padding: 20px;

    a{
        display: flex;
        align-items: center;
        background: rgb(215 215 215);
        width: 300px;
        column-gap: 20px;
        padding: 10px 20px;
        border-radius: 8px;
        text-decoration: none;
        margin-bottom: 10px;

        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;

        }

        p{
            color: var(--secondary);
            font-weight: 500;
            margin: 0;
        }
    }
}

#messages {
    width: 100%;
    height: 100%;

    .card-body.msg-h {
        height: 100%;
    }

    .no-message-body {
        text-align: center;

        .no-message {
            width: 200px;
            text-align: center;
        }
    }

    .messages {

        .message-date {
            font-size: 10px;
        }

        .sender {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;

            .msg {
                background: var(--primary);
                border-radius: 10px;
                color: #ffffff;
                padding: 10px;
                width: auto;
                max-width: 400px;
            }

        }

        .receiver {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 10px;

            .msg {
                background: #303c4f;
                border-radius: 10px;
                color: #ffffff;
                padding: 10px;
                width: auto;
                max-width: 400px;
            }
        }
    }

    .message-list {
        padding: 10px;
        display: flex;
        column-gap: 20px;
        align-items: center;
        border: 1px solid rgb(243, 243, 243);
        border-radius: 10px;
        text-decoration: none;
        transition: 0.3s;
        margin-bottom: 10px;

        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }

        .message-content {
            position: relative;

            h6 {
                font-size: 16px;
            }

            p {
                font-size: 12px;
                padding: 0;
                margin: 0;
                color: var(--bs-body-color);
            }
        }

        &:hover {
            background: #e2e2e2;
        }
    }

    .message-list.msg-active {
        background: #e2e2e2;
    }
}

// star rating

.start-rating {
    align-items: center;
    transform: rotateY(180deg);
    justify-content: end;

    input {
        position: relative;
        display: none;
    }

    input:checked {
        ~label {
            &::after {
                opacity: 1;
            }
        }
    }

    label {
        position: relative;
        display: block;
        cursor: pointer;
        width: 40px;
        height: 40px;

        &:before {
            content: '★';
            position: relative;
            display: block;
            font-size: 50px;
            color: #bdbdbd;
        }

        &:after {
            content: '★';
            position: absolute;
            display: block;
            font-size: 50px;
            color: #ffd400;
            top: 0;
            opacity: 0;
        }

        &:hover {
            &:after {
                opacity: 1;
            }
        }

        &:hover {
            ~label::after {
                opacity: 1;
            }
        }
    }
}